button {
    color:black;
    float:right;
    /* margin:4px; */
    font-size:16px;
}

button:hover {
    background:#f7f7f7;
}

img {
    height:25%;
    width:25%;
    margin-bottom:-20px;
    margin-top:-10px;
}

mat-card{
    margin-bottom:10px;
}