<mat-card>
  <a routerLink="/">
    <img src="../../assets/img/connector_gray.svg">
  </a>
  <a routerLink="/accounting">
    <button mat-button>
      <mat-icon matPrefix>account_balance</mat-icon>
      Accounting
    </button>
  </a>
  <a routerLink="/policy">
    <button mat-button>
      <mat-icon matPrefix>local_library</mat-icon>
      Manage Policy
    </button>
  </a>
  <a routerLink="/quote">
    <button mat-button>
      <mat-icon matPrefix>filter_none</mat-icon>
      Quote
    </button>
  </a>
  <a routerLink="/dashboard">
    <button mat-button>
      <mat-icon matPrefix>dashboard</mat-icon>
      Dashboard
    </button>
  </a>



</mat-card>
